<?php

define('QPMDB', '/var/www/qpm/qpm.db');
define('SESSIONPATH', '/var/www/qpm');

define('MYSELF', './index.php');

define('AMIUSERNAME', 'abspadmin');
define('AMIPASSWORD', 'amipass1234');

define('QPMDHOST', 'MYIPADDR');
define('QPMDPORT', '60001');

?>
