#
# ABS Database Backup : Mon  8 Apr 00:44:14 BST 2019
#
ABS/BASIX AREA asterisk.basix.ne.jp
ABS/DID 0312349870 202
ABS/ERV phone1 201
ABS/ERV phone2 202
ABS/ERV phone3 203
ABS/ERV phone4 204
ABS/EXT 200 G1
ABS/EXT 201 phone1
ABS/EXT/201 PGRP 1
ABS/EXT 202 phone2
ABS/EXT/202 PGRP 1
ABS/EXT 203 phone3
ABS/EXT/203 PGRP 1
ABS/EXT 204 phone4
ABS/EXT/204 PGRP 1
ABS EXTTECH PJSIP
ABS/GRP 1 201,202,203,204
ABS/GRP/1 BNL 0
ABS/GRP/1 EXT 200
ABS/GRP/1 MET RA
ABS/GRP/1 OVR 0
ABS/LMT phone1 2
ABS/LMT phone2 2
ABS/LMT phone3 2
ABS/LMT phone4 2
ABS/NTTE AREA ntt-east.ne.jp
ABS/NTTW AREA ntt-west.ne.jp
ABS/PGRP 1 201,202,203,204
ABS/TRUNK/0312345678 KEY 1-2
KEYTEL/KEYSYS1 LABEL 外線
KEYTEL/KEYSYS1 MMD S
KEYTEL/KEYSYS1 OGCID 0312345678
KEYTEL/KEYSYS1 RGPT 1
KEYTEL/KEYSYS1 RING G1
KEYTEL/KEYSYS1 TECH PJSIP
KEYTEL/KEYSYS1 TYP NTTE
KEYTEL/KEYSYS2 LABEL 外線
KEYTEL/KEYSYS2 MMD B
KEYTEL/KEYSYS2 OGCID 0312345678
KEYTEL/KEYSYS2 RGPT 1
KEYTEL/KEYSYS2 RING G1
KEYTEL/KEYSYS2 TECH PJSIP
KEYTEL/KEYSYS2 TYP NTTE
ABS TCSPEC 9:00-18:00,mon&tue&wed&thu&fri,*,*
